@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
.avatarstyle img{
width: 200px;
height: 200px;

background-color: red;


}
.avatarstyle{
   margin:2%;
   padding: 2%;

}
.avatarstyle p,h1{
    text-align: center;
    font-weight: bold;
}
.mainpage{
    width: 90%;
    height: 95%;
    margin:auto;
    font-family: 'Gugi', cursive;
   
}